{% extends 'base.html.twig' %}

{% block title %}DOF Configtool Client{% endblock %}

{% block body %}
    <h1>DOF Configtool Client {{ constant('DOFCTC_VERSION') }}</h1>
    <hr>
    <p>Started as download and tweak client for the DOF Configtool, becomes a kind of "Swiss Army Knife" for Virtual Pins</p>
    {% if remote %}
        <p>
            Address to access the DOF Configtool Client from another device in your network: <a href="http://{{ remote }}" target="_blank">http://{{ remote }}</a>
        </p>
    {% endif %}
    <p>
        Current DOF settings in use: <strong><em>{{ branch|default('-') }}</em></strong>
    </p>
    <p>
        Current version: <strong><em>{{ log|default('-') }}</em></strong>
    </p>
    <h2>Questions or Feature Requests?</h2>
    <p>
        Any kinds of questions, bug reports, and feature requests could be asked in the support forum: <a href="https://vpinball.com/forums/forum/front-end-supportpinballx-hyperpin/dof-configtool-client/" target="_blank">https://vpinball.com/forums/forum/front-end-supportpinballx-hyperpin/dof-configtool-client/</a>
    </p>
    <hr>
    <img src="{{ asset('images/Vpinball_cover.png') }}">
    <img src="{{ asset('images/DirectOutputR3_Small.png') }}">
    <img src="{{ asset('images/ProgIcon.png') }}">
{% endblock %}
