{% extends 'base.html.twig' %}

{% block title %}Tweak{% endblock %}

{% block body %}
    <h1>Tweaks to be applied</h1>
    {% for file,diff in diffs %}
        <h3>{{ file }}</h3>
        <div class="table-responsive" style="max-height: 300px">
            <table class="table table-striped table-bordered">
            {% for line in diff %}
                {{ line|raw }}
            {% endfor %}
            </table>
        </div>
    {% endfor %}
    {{ form_start(confirm_form) }}
    {{ form_errors(confirm_form) }}
    {{ form_widget(confirm_form) }}
    {{ form_end(confirm_form) }}

    <hr>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong">
        DOF ini files explanation
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">DOF ini files explanation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ docs|raw }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
