{% extends 'base.html.twig' %}

{% block title %}Tweak DOF Configs{% endblock %}

{% block body %}
    <h2>Tweak DOF Configs</h2>
    {{ form_start(tweak_form) }}
    {{ form_errors(tweak_form) }}
    {{ form_widget(tweak_form) }}
    {{ form_end(tweak_form) }}

    {% if cmd %}
        <hr>
        <h3>Command line to download and tweak your config files from your prefered frontend:</h3>
        <pre><kbd>{{ cmd|raw }}</kbd></pre>
    {% endif %}

    {% if git_diff|default %}
        <hr>
        {% include 'git_diff.html.twig' %}
    {% endif %}
{% endblock %}
