<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="DOF Configtool Client {{ constant('DOFCTC_VERSION') }}">
        <meta name="author" content="mk47">

        <title>{% block title %}DOF Configtool Client {{ constant('DOFCTC_VERSION') }} by mk47{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dofctc.css') }}">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-light">
        <nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('welcome') }}"><img src="{{ asset('images/mk47.png') }}" width="30" height="30" alt=""> {{ constant('DOFCTC_VERSION') }}</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tables') }}">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('day_night') }}">Day/Night</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('download') }}">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tweak') }}">Tweak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('textedit') }}">TextEdit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('history') }}">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('reg_edit') }}">RegEdit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('colorize') }}">Colorize</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('backglasses') }}">Backglasses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('puppacks') }}">PUPPacks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('settings') }}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">About/Help</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="jumbotron">
            {% include 'flash_messages.html.twig' %}
            {% block body %}{% endblock %}
        </main>

        <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bs-custom-file-input.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
            $('.btn-primary').click(function() {
                $(this).prepend(
                    '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>'
                ).addClass('btn-outline-primary').removeClass('btn-primary');
                $('.btn-primary').attr("disabled", true);
            });
        </script>
    </body>
</html>
